@media screen and (min-width: 640px){
   /*NAV*/
   #hanButton {
    display:none;
   }
   .navBar {
    display: flex;
    padding: 0;
   }
    .navBar li {
        border-radius: 0;
    }
   .photo img {
    max-width: 400px;
   }
   /*Main*/
   .buttonCert {
    justify-content: space-evenly ;
   }
   .buttonCert button {
    max-width: 10rem;
   }
}