:root{
    --primary-color: #3E2723;
    --secondary-color: #d87315;
    --cta-buttons: #ffe600;
    --footer-links: #005A9C;
    --background: #FAF8F5;
    --heading-font: "Playfair Display", serif;
    --general-font: "Montserrat", sans-serif;
    --box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
    --fade-in-top: fade-in-top 1.5s ease-in both;
    --text-shadow: 3px 3px 2px black;
    --slide-animation: slide-right;
    --fade-animation: fade-in-top;
    --button-animation: heartbeat;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--background);
    font-family: var(--general-font);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--primary-color);
    text-align: center;
    padding: 1rem;
    animation: var(--slide-animation) 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s both;
}
p, span {
    padding: 1rem;
    animation: var(--slide-animation) 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.7s both;
}
img {
    animation:  var(--slide-animation) 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}
a {
    text-decoration: none;
    font-weight: 700;
}
a:hover {
    color:  var(--secondary-color);
}
/*HEADER*/
header {
    display: grid;
    grid-template-columns: 64px auto 64px;
    align-items: center;
    background-color: var(--background);
    border-bottom: 10px solid var(--primary-color);
    box-shadow: var(--box-shadow);
    animation: var(--fade-animation) 1s ease-in both;
    overflow: hidden;
}
header img {
    width: 100%;
    animation: var(--slide-animation) 1s ease both;
}
header span {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
}
header div {
    height: 100%;
}
/*Menu Button*/
#hanbutton {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    transform: rotate(0);
    transition: all 0.4s ease;
}
#hanbutton::before {
    content: '\2630';
}
#hanbutton.show {
    transform: rotate(90deg);
}
/*Navigation Menu*/
#navbar {
    grid-column: 1/4;
    height: 0;
    transform: scaleY(0);
    transform-origin: 100% 0;
    transition: all 0.4s ease;
    overflow: hidden;
}
#navbar.show {
    height: 200px;
    font-size: 1rem;
    transform: scaleY(1);
}
#navlinks {
    list-style-type: none;
}
#navlinks li {
    background-color: var(--primary-color);
}
#navlinks li a {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    color: var(--background);
}
#navlinks li a:active{
    background-color: var(--secondary-color);
}
#linkcolor {
    transform: scale(1.1);
    backdrop-filter: invert(20%);
}
/*Main*/
main {
    margin: 1rem 0;
    animation: var(--fade-animation) 0.8s ease-in both;
}
    /*Hero Div*/
.hero {
    background-color: var(--secondary-color);
    text-align: center;
    color: var(--background);
    padding-bottom: 1rem;
}
.hero picture img {
    width: 100%;
}
.hero h1 {
    transform: translateX(-1000px);
    display: inline-block;
    background-color: var(--background);
    border-radius: 3rem 0;
    
}
.hero p {
    transform: translateX(-1000px);
    font-size: 1.2rem;
}
.hero a {
    display: block;
    justify-self: center;
    padding: 1rem;
    margin: 1rem;
    color: var(--cta-buttons);
    font-size: 1.1rem;
    font-weight: 700;
    background-color: var(--primary-color);
    border-radius: 1rem;
    border: 5px solid var(--cta-buttons);
    animation: var(--button-animation) 2s ease-in-out infinite both;
}
/*Section*/
section {
    margin: 1rem;
}
    /*Our History Section*/
#ourhistory img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}
#ourhistory p {
    border: var(--primary-color) solid 2px;
    border-radius: 0 0 1rem 1rem;
    line-height: 2;
}

/*Menu section*/ 
#menusection section, #ourmenu section {
    border-left:  10px solid var(--secondary-color);
    box-shadow: var(--box-shadow);
    border-radius: 0 1rem 1rem 0;
    overflow: hidden;
    display: grid;
}
#menusection img, #ourmenu img {
    width: 100%;
}
.menufilter button {
    background-color: var(--primary-color);
    color: var(--background);
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: none;
}
.menufilter button:active {
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--background);
}
/*Did You Know Section*/
.didyouknow {
    padding: 0.5rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    text-align: center;
}
.didyouknow::before {
    content: '\29C8';
}
/*Footer*/
footer {
    padding: 1rem;
    background-color: var(--footer-links);
    color: var(--background);
    line-height: 1.5;
}
footer span {
    padding: 0;
}
.social {
    display: flex;
    justify-content: space-around;
}
.social img:active {
    background-color: var(--cta-buttons);
    border-radius: 1rem;
}
/*Animation*/
@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

main > img {
    width: 100%;
}