:root{
    --primary-color: #3E2723;
    --secondary-color: #D84315;
    --cta-buttons: #FFB300;
    --footer-links: #005A9C;
    --background: #FAF8F5;
    --heading-font: "Playfair Display", serif;
    --general-font: "Montserrat", sans-serif;
    --box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
    --fade-in-top: fade-in-top 1.5s ease-in both;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--background);
    font-family: var(--general-font);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    animation: var(--fade-in-top);
    font-size: 1.1rem;
}
/*HEADER*/
header {
    display: grid;
    grid-template-columns: 64px auto 64px;
    align-items: center;
    background-color: var(--background);
    border-bottom: 10px solid var(--primary-color);
    box-shadow: var(--box-shadow);
}
header img {
    width: 100%;
}
header span {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
}
header div {
    height: 100%;
}
/*Menu Button*/
#hanbutton {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    transform: rotate(0);
    transition: all 0.4s ease;
}
#hanbutton::before {
    content: '\2630';
}
#hanbutton.show {
    transform: rotate(90deg);
}
/*Navigation Menu*/
#navbar {
    display: none;
    background-color: var(--primary-color);
    align-self: self-start;
    height: 0;
    transition: height 0.5s ease 1s;
}
#navbar.show {
    display: block;
    grid-column: 2/4;
    height: 100%;
}
a {
    color: var(--footer-links);
    text-decoration: none;
    font-weight: 700;
}
a:hover {
    color:  var(--secondary-color);
}
main {
    padding: 1rem;
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--primary-color);
}
p, span, ul, a {
    padding: 1rem;
}
footer {
    padding: 1rem;
    background-color: var(--footer-links);
    color: var(--background);
}

/*Animation*/
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
